@model Learning_Space.Models.ZoomLesson

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ZoomLesson</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ZoomUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ZoomUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lesson)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lesson.LessonType)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ZoomLesson1">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
