@model IEnumerable<Learning_Space.DTO.AlarmDTO>

@{
    ViewData["Title"] = "Index";
}

@using Microsoft.AspNetCore.Http
@{
    int? user = Convert.ToInt32(Context.Request.Query["user"]);
    int? permission = Convert.ToInt32(Context.Request.Query["permission"]);
    int? courseid = Convert.ToInt32(Context.Request.Query["courseid"]);
}

<h1 class="title">Alarms</h1>


@foreach (var item in Model)
{
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AlarmType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeId)
            </td>
        </tr>
}
