html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    background-image: url('../media/background.png'); /* שינוי לנתיב המתאים לתמונת הרקע שלך */
    background-repeat: repeat; /* תמונת רקע מתאימה תתאים לרוב המסכים */
    background-color: #f1f1f1; /* צבע רקע כתיבת הטקסט, אם התמונה לא נטענת */
    font-family: Arial, sans-serif; /* דוגמא לסוג גופן כללי */
    margin-bottom: 10px;
}
.general{
    display:flex;
    justify-content:center;
}
.Admin {
    background-color: black;
}

.AdminLiList {
    background-color: green;
    width: contain;
    height: contain;
}

.table {
    background-color: whitesmoke;
   
}
.items_list {
    display: flex;
    justify-content:space-around;
    border-radius: 7px;
    padding: 30px;
}
users_list{

}

tr {
    width: 200px; /* או כל רוחב שתבחר לכל ריבוע */
    height: 200px;
    font-family: 'Nunito', sans-serif;
    background-color: plum;
    margin: 5px; /* יוסיף רווח בין ה-td */
    padding: 7px;
    border: 1px solid black;
}

/*td {
    box-sizing: border-box;
    text-align: center;
    line-height: 50px;
    color:black;
    border-radius: 3px;
    background-color:whitesmoke;
}*/
    tr:hover {
        border: 1px solid grey;
        background-color: #f5f5f5;
        cursor: pointer;
    }
tr:hover > td{
    border: 1px solid grey;

}

.AdminMenu {
}

.Menu {
}

.nav-item {
    background-color: dodgerblue;
    border: 1px solid grey;
    border-radius: 3px;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    padding: 5px;
}

.form-group {
    background-color: rgb(211, 83, 83, 0.85);
    border: 0.5px solid black;
    color: black;
    border-radius: 7px;
    width: 100%;
    margin: 10px;
}

#sign_up_button {
    background-color: rgb(211, 83, 83, 0.85);
    border: 0.5px solid black;
    color: black;
    border-radius: 7px;
    margin-left: 10px;
}
.home_button {
    background-color: rgb(211, 83, 83, 0.85);
    border: 0.5px solid black;
    color: black;
    border-radius: 7px;
    padding: 5px

}
.All_permission{
    display: flex;
    justify-content:space-around
}