html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    background-image: url('../media/background.png'); 
    background-repeat: repeat; 
    background-color: #f1f1f1;
    font-family: Arial, sans-serif; 
    margin-bottom: 10px;
}
.general{
    display:flex;
    justify-content:center;
}
.Admin {
    background-color: black;
}

.AdminLiList {
    background-color: green;
    width: contain;
    height: contain;
}

.table {
    background-color: whitesmoke;
   
}
.items_list {
    display: flex;
    flex-direction:row;
    justify-content:space-around;
    flex-wrap:wrap;
    border-radius: 7px;
    padding: 30px;
}
users_list{

}


.calendar {
    width: 500px;
    height: 500px;
    border-collapse: collapse;
}

.days {
    padding: 8px;
    margin-bottom:5px;
    border-bottom: 1px solid #ddd;
}

.event-date {
    background-color: yellow;
}

.empty-date {
    background-color: lightgray;
}

.week{
    display: flex;
    flex-wrap: wrap;
}

.datInMonth {
    width: 200px;
    height: 200px;
    font-family: 'Nunito', sans-serif;
    background-color: rgb(211, 83, 83, 0.85);
    margin: 5px;
    padding: 7px;
    border: 1px solid black;
    border-radius: 10px;
}
/*tr {
    width: 200px;
    height: 200px;
    font-family: 'Nunito', sans-serif;
    background-color: plum;
    margin: 5px;
    padding: 7px;
    border: 1px solid black;
}*/

/*td {
    box-sizing: border-box;
    text-align: center;
    line-height: 50px;
    color:black;
    border-radius: 3px;
    background-color:whitesmoke;
}*/
    tr:hover {
        border: 1px solid grey;
        background-color: #f5f5f5;
        cursor: pointer;
    }
tr:hover > td{
    border: 1px solid grey;

}

.AdminMenu {
}

.Menu {
}

.nav-item {
    background-color: rgb(211, 83, 83, 0.65);
    border: 1px solid grey;
    border-radius: 50%;
    text-align: center;
    margin: 5px;
    font-family: 'Nunito', sans-serif;
    padding: 5px;
    font-size: larger;
}

    .nav-item:hover {
        background-color: rgb(211, 83, 83, 0.85);
        border: 1px solid black;
    }
.form-group {
    background-color: rgb(211, 83, 83, 0.85);
    border: 0.5px solid black;
    color: black;
    border-radius: 7px;
    width: 500px;
    margin: 10px;
}

.home_button {
    width: 100px;
    height: 100px;
    background-color: rgb(211, 83, 83, 0.85);
    border: 0.5px solid black;
    border-radius: 15%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    font-size: 7px;
    margin: 10px;
}
.All_permission {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    border-radius: 7px;
    padding: 30px;
}
}
.control-label{
    padding:5px
}
.item {
    width: 200px;
    height: 200px;
    background-color: rgb(211, 83, 83, 0.85);
    border: 0.5px solid black;
    border-radius: 15%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    font-size: 7px;
    margin: 10px;
}
.sign_up_button {
    background-color: rgb(211, 83, 83, 0.85);
    border: 0.5px solid black;
    color: black;
    border-radius: 7px;
    margin-left: 10px;
}
.text-danger{
    background-color: white;
    border: none;

}
.item_link{
    font-size:large;
    align-content:center;
}