@model Learning_Space.DTO.ClassDTO

@{
    ViewData["Title"] = "Details";
}
@using Microsoft.AspNetCore.Http
@{
    int? user = Convert.ToInt32(Context.Request.Query["user"]);
    int? permission = Convert.ToInt32(Context.Request.Query["permission"]);
    int? classid = Convert.ToInt32(Context.Request.Query["classid"]);
}
<div class="general">

<div>
        <h2>@Html.DisplayFor(model => model.ClassName)</h2>
        <br />


    <p> @Model.Students Stusents.</p>
        <hr />
        <br />
        <div class="classes">
        <div class="home_button">
            <a asp-controller="Courses" asp-action="Index" asp-route-user="0" asp-route-permission="0" asp-route-classid="@Model?.ClassId">courses list</a>
        </div><div class="home_button">
            <a asp-controller="Users" asp-action="Index" asp-route-user="0" asp-route-permission="0" asp-route-classid="@Model?.ClassId">students list</a>
        </div><div class="home_button">
            <a asp-action="Edit" asp-route-user="0" asp-route-permission="0" asp-route-classid="@Model?.ClassId">Edit</a>
            </div>
        </div>
    </div>


<div>   
        

        <a asp-action="Index" asp-route-user="0" asp-route-permission="0" class="options">Back to List</a>
</div>
</div>